etc/xsd/whitelist/esgf_ats.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.esgf.org/whitelist"
            xmlns:tns="http://www.esgf.org/registry">
  
  <xsd:attributeGroup name="EsgfAtsAttributes">
    <xsd:attribute name="type" type="xsd:string" use="required"/>
    <xsd:attribute name="service"  type="xsd:string" use="required"/>
  </xsd:attributeGroup>
  
  <xsd:element name="attribute">
    <xsd:complexType>
      <xsd:attributeGroup ref="tns:EsgfAtsAttributes"/>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="registry">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:attribute" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>
