etc/xsd/registration.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="registration">
    <xsd:complexType>
      <xsd:sequence>

              <xsd:element maxOccurs="unbounded" name="node">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="type" type="xsd:int" />
                    <xsd:element name="organization" type="xsd:string" />
                    <xsd:element name="commonName" type="xsd:string" />
                    <xsd:element name="hostname" type="xsd:string" />
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="description" type="xsd:string" />
                    <xsd:element name="baseUrl" type="xsd:string" />
                    <xsd:element name="baseSecureUrl" type="xsd:string" />
                    <xsd:element name="identity" type="xsd:string" />
                    <xsd:element name="administratorPersonal" type="xsd:string" />
                    <xsd:element name="administratorEmail" type="xsd:string" />

                    <xsd:element name="myproxy">
                      <xsd:complexType>
                        <xsd:attribute name="port" type="xsd:int" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="attributeService">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="authorizationService">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="oaiRepository">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="identityProvider">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="threddsService">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element name="gridftpServer">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>

                    <xsd:element maxOccurs="unbounded" name="pkiCA">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="hash" type="xsd:string" />
                          <xsd:element name="dn" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    
                    <xsd:element maxOccurs="unbounded" name="openIdCA">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="hash" type="xsd:string" />
                          <xsd:element name="dn" type="xsd:string" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    
                  </xsd:sequence>

                </xsd:complexType>
              </xsd:element>


      </xsd:sequence>
      <xsd:attribute name="versionDate" type="xsd:int" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
